.btn {
  display: block;
  margin-top: 23px;
  padding: 17px 83px;
  font-size: @up-text;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: @base-color;
  font-weight: bold;
  border: 2px solid @base-color;
}
