.contacts-table {
  margin-bottom: 40px;
  display: table;
  font-size: @base-text;
  line-height: 30px;
}
.contacts-tavle__container {
  padding-bottom: 11px;
}
.contacts-table__field,
.contacts-table__value {
  padding-bottom: 20px;
  vertical-align: top;
  display: table-cell;
}
.contacts-table__value {
  padding-left: 32px;
}
