.contacts-table {
  margin-bottom: 40px;
  display: table;
}
.contacts-table__field,
.contacts-table__value {
  padding-bottom: 20px;
  vertical-align: top;
  display: table-cell;
}
.contacts-table__value {
  padding-left: 20px;
}
