.developer {
  font-size: @link-text;
  position: relative;
  font-weight: bold;
    &::after {
    content: '';
    position: absolute;
    width: 33px;
    height: 33px;
    background: url('../img/htmlacademy.svg') no-repeat 0 0;
    top: 0;
    right: 30px;
  }
}
