.feedbacks {
  margin-bottom: 84px;
}
.feedback__title {
  font-size: @h2;
  font-weight: bold;
  margin-bottom: 26px;
}
.feedback__content {
  margin-bottom: 28px;
  line-height: 30px;
}
.feedback__user-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
  letter-spacing: 0.6px;
}
.feedback__user-contact {
  margin-bottom: 33px;
  font-size: 18px;
}
.feedbacks__switch {
  display: inline-block;
  padding: 25px 64px;
  border: 1px solid #ececec;
  position: relative;
  margin-bottom: 9px;
  &--to-right {
    margin-left: -4px;
    border-left: none;
  }
  &::before {
    content: '';
    position: absolute;
    background: no-repeat 0 0;
    width: 51px;
    height: 26px;
    top: 15px;
  }
}
.feedbacks__switch--to-left::before {
  background-image: url('../img/icon-left-arrow.svg');
  left: 50%;
  margin-left: -26px;
  top: 12px;
}
.feedbacks__switch--to-right::before {
  background-image: url('../img/icon-right-arrow.svg');
  right: 50%;
  margin-right: -26px;
  top: 12px;
}
.feedbacks__write-us {

}
