.feedbacks {
  margin-bottom: 86px;
  position: relative;
  &::before {
  content: '';
  position: absolute;
  background: url('../img/bg-zigzag-line.svg') repeat-x 0 0;
  left: 0;
  bottom: -50px;
  width: 100%;
  height: 7px;
  background-size: cover;
}
}
.feedback__title {
  font-size: @h2;
  font-weight: bold;
  margin-bottom: 23px;
}
.feedback__content {
  margin-bottom: 28px;
  line-height: 30px;
}
.feedback__user-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
  letter-spacing: 0.6px;
}
.feedbacks__arrows {
  margin-bottom: 25px;
}
.feedback__user-contact {
  margin-bottom: 33px;
  font-size: 18px;
}
.feedbacks__switch {
  display: inline-block;
  padding: 25px 64px;
  border: 1px solid #ececec;
  position: relative;
  margin-bottom: 9px;
  &--to-right {
    margin-left: -4px;
    border-left: none;
  }
  &::before {
    content: '';
    position: absolute;
    background: no-repeat 0 0;
    width: 51px;
    height: 26px;
    top: 15px;
  }
}
.feedbacks__switch--to-left::before {
  background-image: url('../img/icon-left-arrow.svg');
  left: 50%;
  margin-left: -26px;
  top: 12px;
}
.feedbacks__switch--to-right::before {
  background-image: url('../img/icon-right-arrow.svg');
  right: 50%;
  margin-right: -26px;
  top: 12px;
}
@media (min-width: 768px) {
  .feedbacks {
    background: url('../img/review@1x.jpg') no-repeat 0 0;
    &::before {
      height: 15px;
      bottom: -85px;
    }
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px auto;
    }
    position: relative;
    margin-bottom: 148px;
  }
  .feedback {
    padding-top: 80px;
  }
  .feedback__title {
    font-size: 43px;
    line-height: 50px;
    margin: 0;
    margin-bottom: 47px;
  }
  .feedback__content {
    font-size: @up-text;
    line-height: 30px;
    margin-bottom: 60px;
  }
  .feedback__user-info {
    float: left;
    margin-bottom: 18px;
  }
  .feedbacks__arrows {
    float: right;
  }
  .feedbacks__switch {
    border: none;
    padding-left: 19px;
    &--to-left::before {
      margin-left: -30px;
    }
  }
  .feedbacks__write-us {
    position: absolute;
    top: 80px;
    right: 50px;
  }
}
@media (min-width: 1150px) {
  .feedbacks {
    margin-bottom: 155px;
    background-position: 50px 0;
    &::before {
      height: 20px;
    }
  }
  .feedback {
    margin-left: 175px;
    padding-top: 75px;
    padding-bottom: 52px;
  }
  .feedback__title {
    font-size: 53px;
    line-height: 57px;
  }
  .feedback__content {
    margin-bottom: 40px;
    width: 750px;
  }
}
