@font-face {
  font-family: Opensans;
  font-family: Opensansbold;
  src: local("Opensans"), url("../fonts/opensans.woff");
  src: local("Opensans"), url("../fonts/opensans.woff2");
  src: local("Opensansbold"), url("../fonts/opensansbold.woff");
  src: local("Opensansbold"), url("../fonts/opensansbold.woff");
}
body {
  min-width: 320px;
  margin: 0 auto;
  color: @base-color;
  font-family: @base-fontfamily, "Arial", sans-serif;
}
html {
  height: 100vh;
}
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}
.content-wrapper {
  width: 320px;
  margin: 0 auto;
}
.content-container {
  padding: 0 30px;
}

@media (min-width: 768px) {
  .content-wrapper {
    width: @tablet-width;
  }
  .content-container {
    padding: 0 50px;
  }
  .content-container--footer {
    display: flex;
    justify-content: space-around;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 1150px) {
  .content-wrapper {
    min-width: @desktop-width;
    max-width: @max-width;
  }
  .content-container {
    padding: 0 50px;
  }
  .catalogue {
    margin-top: -45px;
    margin-bottom: 130px;
  }
  .content-container--footer {
    justify-content: space-between;
    padding-right: 30px;
  }
}

