.good-of-week {
  position: relative;
  margin-bottom: 70px;
}
.good-of-week__name {
  font-size: @h2;
  font-weight: bold;
  letter-spacing: 0.9px;
  margin-bottom: 5px;
}
.good-of-week__info {
  margin-top: 21px;
  line-height: 24px;
}
.good-of-week__buy-info {
  margin-top: 25px;
}
.good-of-week__text {
  margin-bottom: 19px;
}
.good-of-week__offers-name {
  color: @main-theme-color;
  font-size: @up-text;
  font-weight: bold;
}
.good-of-week__pic {
  margin-top: -5px;
  margin: 0 auto;
  width: 100%;
  height: auto;
}
.good-of-week__price {
  font-size: @up-text;
  font-weight: bold;
  text-align: center;
}
