.good-of-week {
  margin: 0 30px;
}
.good-of-week__name {
  font-size: @h2;
}
.good-of-week__offers-name {
  color: @main-theme-color;
  font-size: @up-text;
  font-weight: bold;
}
.good-of-week__pic {
  width: 195px;
  height: 236px;
  margin: 0 auto;
}
.good-of-week__price {
  font-size: @up-text;
  font-weight: bold;
  text-align: center;
}
