.how-to-do {
  border: 1px solid #ececec;
  margin-bottom: 60px;
}
.how-to-do__name {
  padding: 0 90px;
  font-size: @up-text;
  line-height: 24px;
  font-weight: bold;
  position: relative;
  padding-top: 10px;
  letter-spacing: 0.9px;
  margin-bottom: 25px;
  &::before {
    content: '';
    position: absolute;
    width: 32px;
    height: 32px;
    background: url('../img/icon-video.svg') no-repeat 0 0;
    top: 15px;
    left: 33px;
  }
}
.how-to-do__video {
  position: relative;
  margin-bottom: 22px;
  &::after {
    position: absolute;
    content: '';
    background: url('../img/icon-play.svg') no-repeat 0 0;
    top: 25%;
    left: 30%;
    width: 102px;
    height: 78px;
  }
}
.how-to-do__text {
  padding: 0 33px;
  padding-right: 50px;
  line-height: 24px;
  font-size: @small-text;
}
.how-to-do__btn {
  margin-bottom: 30px;
  margin-left: 33px;
  margin-right: 33px;
}
