.main-nav__container {
  // display: none;
}
.main-nav__btn {
  background: url('../img/icon-menu-open.svg') no-repeat 0 0;
  width: 20px;
  height: 16px;
  margin-right: 2px;
  display: block;
  float: right;
  border: none;
  margin-top: 12px;
}
.main-nav__items {
  list-style: none;
  font-size: @up-text;
  font-weight: bold;
  line-height: 24px;
}
.main-nav__item {
  display: block;
  padding: 30px;
  border-top: 1px solid #ececec;
  text-decoration: none;
  color: @darken-color;
}
.main-nav__items {
  display: none;
  }
.main-nav__items--more {
  display: none;
}
.main-nav__item--search {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: url('../img/icon-search.svg') no-repeat 50%;
    left: -20px;
  }
}
.main-nav__item--cart {
  position: relative;
}
.main-nav__cart-pic {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 29px;
  top: 35px;
}
