.order-form__field {
  margin: 0;
  border-top: 1px solid @main-theme-color;
  border-left: none;
  border-right: none;
  border-bottom: none;
  padding: 20px 0;
}
.order-form__legend {
  color: @main-theme-color;
  font-size: @up-text;
  font-weight: bold;
}
